:root{
    --main--font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --secondary--font: Verdana, Geneva, Tahoma, sans-serif;
    --base--color: hsl(220,100%,50%);
    --important--color: hsl(220, 100%, 20%);
    --warning--color: hsl(220,100%,80%);
    --main--shadow: 5px 4px 6px 2px;
    --based--border--radious:10px;
}