:root{
    --main--font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --secondary--font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --base--color: hsl(0,100%,50%);
    --important--color: hsl(0,100%,20%);
    --warning--color: hsl(0,100%,80%);
    --main--shadow: -5px 4px 6px 2px;
    --based--border--radious:0px;
}