<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h1>Ejercicio 1:</h1>
    Nota: Cambiar clase "red" por "green" o "blue"
    <div class="container-1">
        <div class="box red darken-4"><span class="color-box-text">Darken 4</span></div>
        <div class="box red darken-3"><span class="color-box-text">Darken 3</span></div>
        <div class="box red darken-2"><span class="color-box-text">Darken 2</span></div>
        <div class="box red darken-1"><span class="color-box-text">Darken 1</span></div>
        <div class="box red base-color"><span class="color-box-text">Base color</span></div>
        <div class="box red lighten-1"><span class="color-box-text">Lighten 1</span></div>
        <div class="box red lighten-2"><span class="color-box-text">Lighten 2</span></div>
        <div class="box red lighten-3"><span class="color-box-text">Lighten 3</span></div>
        <div class="box red lighten-4"><span class="color-box-text">Lighten 4</span></div>
    </div>

    <h1>Ejercicio 2:</h1>
    <div class="container-2">
        <div class="base">
            Base
        </div>
        <div class="important">
            Important
        </div>
        <div class="warning">
            Warning
        </div>
        <p class="principalFont">
            Principal Font
        </p>
        <p class="secondaryFont">
            Secondary Font
        </p>
        <div class="shadow">
            Box with shadow
        </div>
    </div>

    <h1>Ejercicio 3:</h1>
    <h3>Lemoncode</h3>
    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Activities</a>
            </li>
            <li>
                <a href="#">About me</a>
            </li>
        </ul>
    </nav>

    <h1>Ejercicio 4:</h1>
    <div class="cards">
        <div class="card">
            <div class="head">
                <img src="./img/cardBG.jpg" alt="">
            </div>
            <div class="content">
                <h3>Title</h3>
                <p class="description">
                    If we’re both going crazy, then we’ll go crazy together, right? No... no El, you're not the monster. You saved me. Do you understand? You saved me. Nancy, seriously, you're gonna be so cool now, it's ridiculous. It’s about the shadow monster, isn’t it?
                </p>
                <p class="published">Published: <span>March 20, 2020</span></p>
                <button>More info</button>
            </div>
        </div>

        <div class="card">
            <div class="head">
                <img src="./img/cardBG.jpg" alt="">
            </div>
            <div class="content">
                <h3>Title</h3>
                <p class="description">
                    If we’re both going crazy, then we’ll go crazy together, right? No... no El, you're not the monster. You saved me. Do you understand? You saved me. Nancy, seriously, you're gonna be so cool now, it's ridiculous. It’s about the shadow monster, isn’t it?
                </p>
                <p class="published">Published: <span>March 20, 2020</span></p>
                <button>More info</button>
            </div>
        </div>

        <div class="card">
            <div class="head">
                <img src="./img/cardBG.jpg" alt="">
            </div>
            <div class="content">
                <h3>Title</h3>
                <p class="description">
                    If we’re both going crazy, then we’ll go crazy together, right? No... no El, you're not the monster. You saved me. Do you understand? You saved me. Nancy, seriously, you're gonna be so cool now, it's ridiculous. It’s about the shadow monster, isn’t it?
                </p>
                <p class="published">Published: <span>March 20, 2020</span></p>
                <button>More info</button>
            </div>
        </div>
        
    </div>
</body>
</html>